/* font styles */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Azeret Mono", monospace;
}
/* universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header section styles */
/* intro section */
.intro {
  width: 70%;
  height: 131px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro p {
  font-size: 28px;
  font-weight: 800;
}
.intro button {
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  width: 244px;
  height: 57px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
/* hero section */
.hero-container {
  width: 100%;
  height: 652px;
  margin: 0 auto;
  background-blend-mode: overlay;
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-content img {
  margin-top: 26px;
}
.hero-content h1 {
  margin-top: 32px;
  width: 65%;
  height: 136px;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}
.hero-content p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  width: 60%;
  height: 52px;
  text-align: center;
  color: rgb(13, 19, 33);
}
.hero-content button {
  margin-top: 32px;
  margin-bottom: 45px;
  width: 244px;
  height: 65px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  background-color: black;
  border-radius: 8px;
  cursor: pointer;
}

/* Main Section Styles */
/* web-dev-container section */
.web-dev-container {
  margin: 0 auto;
  width: 1140px;
  height: 1393px;
  padding: 80px 97px 80px 97px;
  background-color: rgba(13, 19, 33, 0.02);
}
.web-dev-title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web-dev-title-content h2 {
  font-size: 32px;
  font-weight: 800;
}
.web-dev-title-content p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  width: 852px;
  height: 52px;
  text-align: center;
  color: rgb(13, 19, 33);
}
.card {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 48px;
  width: 946px;
  height: 336px;
  gap: 100px;
  background-color: white;
}
.card-text h3 {
  margin-top: 10.5px;
  font-size: 22px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
  width: 400px;
  height: 72px;
}
.card-text p {
  margin-top: 16px;
  width: 468px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
}
.card-text button {
  margin-top: 32px;
  width: 171px;
  height: 47px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  color: 1px Inside rgb(13, 19, 33);
}
.card-image {
  width: 259.56px;
  height: 217.01px;
}

/* inspiration-container section */
.inspiration-container {
  width: 1140px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inspiration-container h4 {
  margin-top: 20px;
  width: 852px;
  height: 37px;
  font-size: 32px;
  font-weight: 800;
  color: rgb(13, 19, 33);
  text-align: center;
}
.inspiration-container p {
  margin-top: 24px;
  width: 852px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  text-align: center;
}
.inspiration-container iframe {
  padding: 32px;
  margin-top: 48px;
}
/* current-target-container-section */
.current-target-container {
  width: 1140px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.current-target-container h6 {
  width: 852px;
  height: 37px;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  color: rgb(13, 19, 33);
}
.current-target-container p {
  margin-top: 24px;
  width: 852px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  text-align: center;
}
.current-target-content {
  display: flex;
  justify-content: space-between;
}
.box-1,
.box-2,
.box-3 {
  border-radius: 16px;
  width: 364px;
  height: 299px;
  padding: 40px;
  margin-right: 24px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.box-1 {
  background-color: rgba(255, 76, 30, 0.05);
}
.box-1 h6,
.box-2 h6,
.box-3 h6 {
  margin-top: 24px;
  width: 284px;
  height: 36px;
  font-size: 24px;
  font-weight: 800;
  color: rgb(13, 19, 33);
  text-align: start;
}
.box-1 p,
.box-2 p,
.box-3 p {
  margin-top: 8px;
  width: 284px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  text-align: start;
}
.box-2 {
  background-color: rgba(0, 76, 232, 0.05);
}
.box-3 {
  background-color: rgba(255, 223, 0, 0.05);
}

/* next-target-container section */
.next-target-container {
  width: 1140px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.next-target-container h5 {
  width: 852px;
  height: 37px;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  color: rgb(13, 19, 33);
}
.next-target-container p {
  margin-top: 24px;
  width: 852px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  text-align: center;
}
.target {
  margin-top: 24px;
  width: 1140px;
  height: 219px;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.target img {
  width: 94.78px;
  height: 84.41px;
  margin-right: 20px;
}
.target-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.target-text h3 {
  width: 150px;
  height: 25px;
  font-size: 24px;
  font-weight: 800;
  color: rgb(13, 19, 33);
}
.target-text p {
  width: 941.22px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  text-align: start;
}
.target-text button {
  margin-top: 12px;
  border: none;
  background-color: white;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 700;
  width: 941.22px;
  height: 19px;
  text-align: start;
}
